body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thumb-rounded {
    scrollbar-color: rgba(107, 114, 128, 1) rgba(229, 231, 235, 1);
  }
  .scrollbar-thumb-gray-900::-webkit-scrollbar-thumb {
    background-color: rgba(17, 24, 39, 1);
  }
  .scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: rgba(243, 244, 246, 1);
  }
}

.highlight {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.temporary-highlight {
  transition: background-color 1.5s, color 1.5s;
}

body {
  @apply scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100;
}

.header {
  @apply pt-20;
}

/* From Uiverse.io by KINGFRESS */
.resume {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #1f2937;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.resume span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.resume span:nth-child(6) {
  position: relative;
}

.resume span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.resume span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.resume span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.resume span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.resume span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.resume:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.aboutText {
  @apply text-gray-300 text-lg mb-4;
}

.searchbutton {
  padding: 0.8em 1.8em;
  border: 2px solid #0c66ed;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
}

.searchbutton::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #0c66ed;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.searchbutton:hover::before {
  width: 105%;
}

.searchbutton:hover {
  color: #111;
}
:hover::before {
  width: 105%;
}

.searchbutton:hover {
  color: #111;
}
